In [1]:
import camelot.io as camelot
import tkinter
tables = camelot.read_pdf('2024-TR_UNIT_PRICES_ENG.pdf',pages="2-end")

In [2]:
tables

In [3]:
tables.export('foo.csv', f='csv', compress=True)

In [4]:
tables[0]

In [5]:
tables[0].parsing_report

{'accuracy': 99.74, 'whitespace': 3.12, 'order': 1, 'page': 8}

In [6]:
for i in range(1,583):
    print(f"table[{i}] is  {tables[i].df.shape}")

table[1] is  (48, 4)
table[2] is  (21, 4)
table[3] is  (5, 1)
table[4] is  (42, 3)
table[5] is  (37, 3)
table[6] is  (35, 3)
table[7] is  (37, 3)
table[8] is  (38, 3)
table[9] is  (32, 3)
table[10] is  (37, 3)
table[11] is  (15, 3)
table[12] is  (33, 5)
table[13] is  (31, 5)
table[14] is  (38, 5)
table[15] is  (34, 5)
table[16] is  (44, 5)
table[17] is  (44, 5)
table[18] is  (43, 5)
table[19] is  (44, 5)
table[20] is  (47, 5)
table[21] is  (47, 5)
table[22] is  (45, 5)
table[23] is  (45, 5)
table[24] is  (38, 5)
table[25] is  (37, 5)
table[26] is  (44, 5)
table[27] is  (39, 5)
table[28] is  (43, 5)
table[29] is  (42, 5)
table[30] is  (42, 5)
table[31] is  (41, 5)
table[32] is  (46, 5)
table[33] is  (34, 5)
table[34] is  (29, 5)
table[35] is  (31, 5)
table[36] is  (21, 5)
table[37] is  (26, 5)
table[38] is  (29, 5)
table[39] is  (40, 5)
table[40] is  (39, 5)
table[41] is  (48, 5)
table[42] is  (48, 5)
table[43] is  (48, 5)
table[44] is  (48, 5)
table[45] is  (47, 5)
table[46] is  (45, 5)
table[47] is  (36, 5)
table[48] is  (47, 5)
table[49] is  (48, 5)
table[50] is  (48, 5)
table[51] is  (48, 5)
table[52] is  (47, 5)
table[53] is  (47, 5)
table[54] is  (43, 5)
table[55] is  (48, 5)
table[56] is  (44, 5)
table[57] is  (44, 5)
table[58] is  (39, 5)
table[59] is  (30, 5)
table[60] is  (30, 5)
table[61] is  (30, 5)
table[62] is  (30, 5)
table[63] is  (31, 5)
table[64] is  (30, 5)
table[65] is  (28, 5)
table[66] is  (20, 5)
table[67] is  (31, 5)
table[68] is  (38, 5)
table[69] is  (39, 5)
table[70] is  (34, 5)
table[71] is  (28, 5)
table[72] is  (15, 5)
table[73] is  (28, 5)
table[74] is  (31, 5)
table[75] is  (32, 5)
table[76] is  (22, 5)
table[77] is  (39, 5)
table[78] is  (33, 5)
table[79] is  (42, 5)
table[80] is  (46, 5)
table[81] is  (43, 5)
table[82] is  (45, 5)
table[83] is  (34, 5)
table[84] is  (29, 5)
table[85] is  (43, 5)
table[86] is  (43, 5)
table[87] is  (46, 5)
table[88] is  (46, 5)
table[89] is  (36, 5)
table[90] is  (47, 5)
table[91] is  (37, 5)
table[92] is  (30, 5)
table[93] is  (30, 5)
table[94] is  (38, 5)
table[95] is  (36, 5)
table[96] is  (30, 5)
table[97] is  (42, 5)
table[98] is  (38, 5)
table[99] is  (42, 5)
table[100] is  (44, 5)
table[101] is  (43, 5)
table[102] is  (42, 5)
table[103] is  (48, 5)
table[104] is  (48, 5)
table[105] is  (40, 5)
table[106] is  (46, 5)
table[107] is  (39, 5)
table[108] is  (43, 5)
table[109] is  (40, 5)
table[110] is  (40, 5)
table[111] is  (44, 5)
table[112] is  (42, 5)
table[113] is  (39, 5)
table[114] is  (46, 5)
table[115] is  (48, 5)
table[116] is  (46, 5)
table[117] is  (48, 5)
table[118] is  (44, 5)
table[119] is  (41, 5)
table[120] is  (46, 5)
table[121] is  (43, 5)
table[122] is  (46, 5)
table[123] is  (46, 5)
table[124] is  (43, 5)
table[125] is  (46, 5)
table[126] is  (44, 5)
table[127] is  (48, 5)
table[128] is  (48, 5)
table[129] is  (48, 5)
table[130] is  (48, 5)
table[131] is  (48, 5)
table[132] is  (39, 5)
table[133] is  (44, 5)
table[134] is  (38, 5)
table[135] is  (23, 5)
table[136] is  (44, 5)
table[137] is  (42, 5)
table[138] is  (41, 5)
table[139] is  (39, 5)
table[140] is  (31, 5)
table[141] is  (17, 5)
table[142] is  (24, 5)
table[143] is  (29, 5)
table[144] is  (33, 5)
table[145] is  (36, 5)
table[146] is  (29, 5)
table[147] is  (31, 4)
table[148] is  (18, 4)
table[149] is  (28, 4)
table[150] is  (37, 4)
table[151] is  (31, 4)
table[152] is  (25, 4)
table[153] is  (33, 4)
table[154] is  (39, 4)
table[155] is  (36, 4)
table[156] is  (39, 4)
table[157] is  (31, 4)
table[158] is  (31, 4)
table[159] is  (31, 4)
table[160] is  (27, 4)
table[161] is  (30, 4)
table[162] is  (23, 4)
table[163] is  (37, 4)
table[164] is  (39, 4)
table[165] is  (34, 4)
table[166] is  (40, 4)
table[167] is  (36, 4)
table[168] is  (44, 4)
table[169] is  (32, 4)
table[170] is  (31, 4)
table[171] is  (30, 4)
table[172] is  (32, 4)
table[173] is  (33, 4)
table[174] is  (34, 4)
table[175] is  (19, 4)
table[176] is  (30, 4)
table[177] is  (29, 4)
table[178] is  (28, 4)
table[179] is  (31, 4)
table[180] is  (24, 4)
table[181] is  (23, 4)
table[182] is  (30, 4)
table[183] is  (33, 4)
table[184] is  (32, 4)
table[185] is  (35, 4)
table[186] is  (34, 4)
table[187] is  (30, 4)
table[188] is  (35, 4)
table[189] is  (36, 4)
table[190] is  (31, 4)
table[191] is  (34, 4)
table[192] is  (39, 4)
table[193] is  (29, 4)
table[194] is  (30, 4)
table[195] is  (31, 4)
table[196] is  (31, 4)
table[197] is  (28, 4)
table[198] is  (29, 4)
table[199] is  (31, 4)
table[200] is  (25, 4)
table[201] is  (25, 4)
table[202] is  (39, 4)
table[203] is  (36, 4)
table[204] is  (38, 4)
table[205] is  (2, 4)
table[206] is  (7, 2)
table[207] is  (7, 2)
table[208] is  (35, 4)
table[209] is  (28, 4)
table[210] is  (18, 4)
table[211] is  (20, 4)
table[212] is  (31, 4)
table[213] is  (37, 4)
table[214] is  (32, 4)
table[215] is  (16, 4)
table[216] is  (21, 4)
table[217] is  (33, 4)
table[218] is  (32, 4)
table[219] is  (32, 4)
table[220] is  (36, 4)
table[221] is  (36, 4)
table[222] is  (33, 4)
table[223] is  (29, 4)
table[224] is  (37, 4)
table[225] is  (42, 4)
table[226] is  (25, 4)
table[227] is  (32, 4)
table[228] is  (31, 4)
table[229] is  (42, 4)
table[230] is  (39, 4)
table[231] is  (23, 4)
table[232] is  (15, 4)
table[233] is  (24, 4)
table[234] is  (26, 4)
table[235] is  (16, 4)
table[236] is  (11, 4)
table[237] is  (19, 4)
table[238] is  (26, 4)
table[239] is  (30, 4)
table[240] is  (31, 4)
table[241] is  (24, 4)
table[242] is  (40, 4)
table[243] is  (28, 4)
table[244] is  (20, 4)
table[245] is  (16, 4)
table[246] is  (23, 4)
table[247] is  (36, 4)
table[248] is  (45, 4)
table[249] is  (31, 4)
table[250] is  (33, 4)
table[251] is  (34, 4)
table[252] is  (42, 4)
table[253] is  (44, 4)
table[254] is  (40, 4)
table[255] is  (17, 4)
table[256] is  (28, 4)
table[257] is  (41, 4)
table[258] is  (35, 4)
table[259] is  (35, 4)
table[260] is  (16, 4)
table[261] is  (39, 4)
table[262] is  (32, 4)
table[263] is  (22, 4)
table[264] is  (11, 4)
table[265] is  (14, 4)
table[266] is  (23, 4)
table[267] is  (34, 4)
table[268] is  (35, 4)
table[269] is  (27, 4)
table[270] is  (33, 4)
table[271] is  (22, 4)
table[272] is  (24, 4)
table[273] is  (38, 4)
table[274] is  (48, 4)
table[275] is  (45, 4)
table[276] is  (42, 4)
table[277] is  (28, 4)
table[278] is  (41, 4)
table[279] is  (28, 4)
table[280] is  (28, 4)
table[281] is  (35, 4)
table[282] is  (32, 4)
table[283] is  (35, 4)
table[284] is  (39, 4)
table[285] is  (39, 4)
table[286] is  (31, 4)
table[287] is  (43, 4)
table[288] is  (46, 4)
table[289] is  (36, 4)
table[290] is  (43, 4)
table[291] is  (41, 4)
table[292] is  (32, 4)
table[293] is  (40, 4)
table[294] is  (33, 4)
table[295] is  (45, 4)
table[296] is  (43, 4)
table[297] is  (42, 4)
table[298] is  (37, 4)
table[299] is  (42, 4)
table[300] is  (38, 4)
table[301] is  (35, 4)
table[302] is  (41, 4)
table[303] is  (46, 4)
table[304] is  (44, 4)
table[305] is  (31, 4)
table[306] is  (26, 4)
table[307] is  (37, 4)
table[308] is  (36, 4)
table[309] is  (48, 4)
table[310] is  (25, 4)
table[311] is  (26, 4)
table[312] is  (35, 4)
table[313] is  (30, 4)
table[314] is  (30, 4)
table[315] is  (48, 4)
table[316] is  (46, 4)
table[317] is  (42, 4)
table[318] is  (48, 4)
table[319] is  (40, 4)
table[320] is  (48, 4)
table[321] is  (39, 4)
table[322] is  (48, 4)
table[323] is  (36, 4)
table[324] is  (38, 4)
table[325] is  (37, 4)
table[326] is  (39, 4)
table[327] is  (48, 4)
table[328] is  (38, 4)
table[329] is  (27, 4)
table[330] is  (36, 4)
table[331] is  (25, 4)
table[332] is  (30, 4)
table[333] is  (35, 4)
table[334] is  (25, 4)
table[335] is  (40, 4)
table[336] is  (31, 4)
table[337] is  (33, 4)
table[338] is  (38, 4)
table[339] is  (23, 4)
table[340] is  (26, 4)
table[341] is  (28, 4)
table[342] is  (29, 4)
table[343] is  (14, 4)
table[344] is  (20, 4)
table[345] is  (19, 4)
table[346] is  (33, 4)
table[347] is  (36, 4)
table[348] is  (36, 4)
table[349] is  (25, 4)
table[350] is  (21, 4)
table[351] is  (23, 4)
table[352] is  (19, 4)
table[353] is  (23, 4)
table[354] is  (38, 4)
table[355] is  (28, 4)
table[356] is  (36, 4)
table[357] is  (41, 4)
table[358] is  (25, 4)
table[359] is  (39, 4)
table[360] is  (35, 4)
table[361] is  (29, 4)
table[362] is  (40, 4)
table[363] is  (39, 4)
table[364] is  (17, 4)
table[365] is  (19, 4)
table[366] is  (26, 4)
table[367] is  (30, 4)
table[368] is  (34, 4)
table[369] is  (31, 4)
table[370] is  (44, 4)
table[371] is  (41, 4)
table[372] is  (41, 4)
table[373] is  (33, 4)
table[374] is  (8, 4)
table[375] is  (22, 4)
table[376] is  (30, 4)
table[377] is  (15, 4)
table[378] is  (22, 4)
table[379] is  (20, 4)
table[380] is  (18, 4)
table[381] is  (11, 4)
table[382] is  (28, 4)
table[383] is  (7, 4)
table[384] is  (21, 4)
table[385] is  (15, 4)
table[386] is  (34, 4)
table[387] is  (42, 4)
table[388] is  (36, 4)
table[389] is  (45, 4)
table[390] is  (47, 4)
table[391] is  (47, 4)
table[392] is  (40, 4)
table[393] is  (15, 4)
table[394] is  (23, 4)
table[395] is  (19, 4)
table[396] is  (26, 4)
table[397] is  (17, 4)
table[398] is  (23, 4)
table[399] is  (26, 4)
table[400] is  (19, 4)
table[401] is  (22, 4)
table[402] is  (29, 4)
table[403] is  (34, 4)
table[404] is  (37, 4)
table[405] is  (30, 4)
table[406] is  (37, 4)
table[407] is  (40, 4)
table[408] is  (39, 4)
table[409] is  (30, 4)
table[410] is  (33, 4)
table[411] is  (27, 4)
table[412] is  (29, 4)
table[413] is  (18, 4)
table[414] is  (29, 4)
table[415] is  (20, 4)
table[416] is  (36, 4)
table[417] is  (26, 4)
table[418] is  (20, 4)
table[419] is  (17, 4)
table[420] is  (33, 4)
table[421] is  (45, 4)
table[422] is  (33, 4)
table[423] is  (48, 4)
table[424] is  (48, 4)
table[425] is  (36, 4)
table[426] is  (38, 4)
table[427] is  (34, 4)
table[428] is  (40, 4)
table[429] is  (34, 4)
table[430] is  (42, 4)
table[431] is  (29, 4)
table[432] is  (29, 4)
table[433] is  (21, 4)
table[434] is  (18, 4)
table[435] is  (32, 4)
table[436] is  (27, 4)
table[437] is  (20, 4)
table[438] is  (37, 4)
table[439] is  (42, 4)
table[440] is  (34, 4)
table[441] is  (38, 4)
table[442] is  (48, 4)
table[443] is  (36, 4)
table[444] is  (33, 4)
table[445] is  (38, 4)
table[446] is  (42, 4)
table[447] is  (39, 4)
table[448] is  (48, 4)
table[449] is  (45, 4)
table[450] is  (34, 4)
table[451] is  (25, 4)
table[452] is  (29, 4)
table[453] is  (28, 4)
table[454] is  (23, 4)
table[455] is  (31, 4)
table[456] is  (21, 4)
table[457] is  (27, 4)
table[458] is  (17, 4)
table[459] is  (20, 4)
table[460] is  (18, 4)
table[461] is  (48, 4)
table[462] is  (43, 4)
table[463] is  (13, 4)
table[464] is  (36, 4)
table[465] is  (19, 4)
table[466] is  (8, 4)
table[467] is  (20, 4)
table[468] is  (39, 4)
table[469] is  (34, 4)
table[470] is  (27, 4)
table[471] is  (16, 4)
table[472] is  (34, 4)
table[473] is  (22, 4)
table[474] is  (10, 4)
table[475] is  (15, 4)
table[476] is  (22, 4)
table[477] is  (10, 4)
table[478] is  (25, 4)
table[479] is  (10, 4)
table[480] is  (7, 4)
table[481] is  (10, 4)
table[482] is  (7, 4)
table[483] is  (7, 4)
table[484] is  (7, 4)
table[485] is  (8, 4)
table[486] is  (13, 4)
table[487] is  (15, 4)
table[488] is  (9, 4)
table[489] is  (10, 4)
table[490] is  (9, 4)
table[491] is  (10, 4)
table[492] is  (8, 4)
table[493] is  (10, 4)
table[494] is  (25, 4)
table[495] is  (8, 4)
table[496] is  (7, 4)
table[497] is  (9, 4)
table[498] is  (10, 4)
table[499] is  (17, 4)
table[500] is  (20, 4)
table[501] is  (26, 4)
table[502] is  (21, 4)
table[503] is  (9, 4)
table[504] is  (8, 4)
table[505] is  (16, 4)
table[506] is  (27, 4)
table[507] is  (20, 4)
table[508] is  (24, 4)
table[509] is  (26, 4)
table[510] is  (30, 4)
table[511] is  (26, 4)
table[512] is  (38, 4)
table[513] is  (48, 4)
table[514] is  (48, 4)
table[515] is  (48, 4)
table[516] is  (48, 4)
table[517] is  (42, 4)
table[518] is  (17, 4)
table[519] is  (12, 4)
table[520] is  (20, 4)
table[521] is  (35, 4)
table[522] is  (27, 4)
table[523] is  (37, 4)
table[524] is  (37, 4)
table[525] is  (48, 4)
table[526] is  (38, 4)
table[527] is  (47, 4)
table[528] is  (46, 4)
table[529] is  (39, 4)
table[530] is  (18, 4)
table[531] is  (33, 4)
table[532] is  (29, 4)
table[533] is  (41, 4)
table[534] is  (40, 4)
table[535] is  (37, 4)
table[536] is  (34, 4)
table[537] is  (44, 4)
table[538] is  (39, 4)
table[539] is  (46, 4)
table[540] is  (42, 4)
table[541] is  (40, 4)
table[542] is  (39, 4)
table[543] is  (48, 4)
table[544] is  (26, 4)
table[545] is  (48, 4)
table[546] is  (31, 4)
table[547] is  (14, 4)
table[548] is  (9, 4)
table[549] is  (42, 4)
table[550] is  (28, 4)
table[551] is  (2, 4)
table[552] is  (18, 4)
table[553] is  (48, 4)
table[554] is  (43, 4)
table[555] is  (4, 4)
table[556] is  (18, 4)
table[557] is  (32, 4)
table[558] is  (37, 4)
table[559] is  (38, 4)
table[560] is  (35, 4)
table[561] is  (30, 4)
table[562] is  (24, 4)
table[563] is  (34, 4)
table[564] is  (32, 4)
table[565] is  (36, 4)
table[566] is  (18, 4)
table[567] is  (32, 4)
table[568] is  (37, 4)
table[569] is  (38, 4)
table[570] is  (33, 4)
table[571] is  (48, 4)
table[572] is  (40, 4)
table[573] is  (39, 4)
table[574] is  (48, 4)
table[575] is  (39, 4)
table[576] is  (45, 4)
table[577] is  (17, 4)
table[578] is  (18, 4)
table[579] is  (32, 4)
table[580] is  (5, 4)
table[581] is  (17, 4)
table[582] is  (16, 4)

In [7]:
tables[0].to_json("cost.json")

In [8]:
tables[0].df = tables[0].df.drop(index=0).reset_index(drop=True)

In [9]:
tables[0].df =  tables[0].df.rename(columns={0: "id", 1: "description", 2: "unit", 3: "price"})

In [10]:
# preparing the source data 
for i in range(3,582):
    tables[i].df = tables[i].df.drop(index=0).reset_index(drop=True)
    tables[i].df = tables[i].df.rename(columns={0: "id", 1: "description", 2: "unit", 3: "price"})
for i in range(1,582):
    if "id" in tables[i].df.columns:
        tables[i].df = tables[i].df.drop(columns=['id'])
for i in range(1, 582):
    if len(tables[i].df.columns) == 2:
        tables[i].df = tables[i].df.rename(columns={'unit': 'price'})
        
for i in range(1, 582):
    if len(tables[i].df.columns) == 4:
        tables[i].df = tables[i].df.rename(columns={'price': 'purchased at', 4: 'price'})

In [ ]:
tables[300].df.to_csv("cleaned_data.txt", index=False, sep='\t')

print("The DataFrame was successfully saved to the cleaned_data.txt file.")

In [38]:
missing_price_indices = []
for i in range(1, 583):  # 1'den 582'ye kadar
    if 'price' not in tables[i].df.columns:
        missing_price_indices.append(i)

In [39]:
missing_price_indices

[3, 206, 207]

         description
0  SIDE-BOTTOM SHEET
1                1.5
2                  2
3                  3
4                  4
5                  5

In [37]:
 
for i in missing_price_indices:
    tables[i].df = tables[i].df.rename(columns={0: "id", 1: "description", 2: "unit", 3: "price"})

In [45]:
for i in range(1, 583):
    if i not in missing_price_indices:# 1'den 582'ye kadar
        tables[i].df['price'] = tables[i].df['price'].astype(str) + " TRY"

In [54]:
for i in range(1, 583):  # 1'den 582'ye kadar
    df = tables[i].df
    if 'price' in df.columns:
        
        df['price'] = df['price'].apply(lambda x: "" if x.strip() == "TRY" else x)

In [56]:
tables[300].df

                                          description       unit       price
0   movement for use in steam, hot water and fuel ...
1                                              Ø65 mm   2.907,08  105,63 TRY
2                                              Ø80 mm   3.321,08  115,38 TRY
3                                             Ø100 mm   4.246,10  134,88 TRY
4                                             Ø125 mm   5.827,69  168,19 TRY
5                                             Ø150 mm   7.748,83  197,44 TRY
6                                             Ø200 mm  10.887,48  207,19 TRY
7                                             Ø250 mm  15.913,96  216,94 TRY
8   VIBRATION ABSORBERS: (Unit: Qty., Materials on...
9                 With flange or welding neck;  PN-16
10                                            Ø15  mm     611,09   33,31 TRY
11                                            Ø20  mm     721,70   47,13 TRY
12                                            Ø25  mm     804,73   66,63 TRY
13                                            Ø32  mm     884,89   66,63 TRY
14                                            Ø40  mm     992,95   76,38 TRY
15                                           Ø50   mm   1.109,25   95,88 TRY
16                                            Ø65  mm   1.292,94  105,63 TRY
17                                            Ø80  mm   1.435,79  115,38 TRY
18                                           Ø100  mm   1.677,63  134,88 TRY
19                                           Ø125  mm   1.952,94  168,19 TRY
20                                           Ø150  mm   2.496,44  197,44 TRY
21                                           Ø200  mm   3.489,31  207,19 TRY
22                                           Ø250  mm   5.450,19  216,94 TRY
23  With flange or welding neck;  PN 25-40\nThe un...
24  Rubber Vibration Absorbers (absorbers); (Unit:...
25                                             Ø32 mm     432,65   66,63 TRY
26                                             Ø40 mm     464,41   66,63 TRY
27                                             Ø50 mm     548,11   95,88 TRY
28                                             Ø65 mm     684,91  105,63 TRY
29                                             Ø80 mm     782,39  115,38 TRY
30                                            Ø100 mm     960,70  134,88 TRY
31                                            Ø125 mm   1.236,01  168,19 TRY
32                                            Ø150 mm   1.531,46  197,44 TRY
33                                            Ø200 mm   2.052,44  207,19 TRY
34                                            Ø250 mm   2.697,44  216,94 TRY
35                                            Ø300 mm   3.856,69  226,69 TRY
36  STEAM TRAPS (Condensate Separators): (Unit: Qty.)

In [58]:
tables[300].df.to_csv("cleaned_data.txt", index=False, sep='\t')

print("The DataFrame was successfully saved to the cleaned_data.txt file..")

DataFrame başarılı bir şekilde cleaned_data.txt dosyasına kaydedildi.

In [60]:
import csv

input_file = "cleaned_data.csv"
output_file = "structured_output.txt"
with open(input_file, mode='r', encoding='utf-8') as csv_file:
    csv_reader = csv.reader(csv_file)
    with open(output_file, mode='w', encoding='utf-8') as txt_file:
        current_heading = None
        for row in csv_reader:
            if len(row) == 1 and row[0]:  # This row is a heading
                current_heading = row[0]
                txt_file.write(f"{current_heading}\n")
            elif len(row) > 1:  # This row is data under the current heading
                if current_heading:
                    txt_file.write(f"    {row[0]} - {row[1]} - {row[2]}\n")

                    
print("Conversion complete.")

Conversion complete.

In [ ]:
import os

output_folder = 'text_files'
os.makedirs(output_folder, exist_ok=True)

for i in range(1, 583):
    df = tables[i].df
    
    text = df.to_string()
    
    file_name = f'{output_folder}/dataframe_{i}.txt'
    
    # Metin dosyasına yazarken UTF-8 kodlaması kullanın
    with open(file_name, 'w', encoding='utf-8') as file:
        file.write(text)

print("All DataFrames have been converted to text files and saved.")

In [ ]:
import os

output_folder = 'text_files'
collected_file_name = 'collected.txt'

with open(collected_file_name, 'w', encoding='utf-8') as collected_file:
    for i in range(1, 583):
        file_name = f'{output_folder}/dataframe_{i}.txt'
        
        try:
            with open(file_name, 'r', encoding='utf-8') as file:
                content = file.read()
                collected_file.write(f'--- Content of dataframe_{i}.txt ---\n')
                collected_file.write(content)
                collected_file.write('\n\n') 
        except FileNotFoundError:
            print(f'{file_name} not found, this file has been skipped.')

print(f"All text files are consolidated into a single file: {collected_file_name}")

for i in range(1, 583):
    file_name = f'{output_folder}/dataframe_{i}.txt'
    try:
        os.remove(file_name)
        print(f'{file_name} silindi.')
    except FileNotFoundError:
        print(f'{file_name} not found, this file may have already been deleted.')

print("All text files have been deleted.")